<div>
    <img class="trip-image" [src]="trip.image">
  </div>
  <div class="text-element">
    <h2 class="trip-title">{{trip.tripTitle}}</h2>
    <p>{{trip.description}}</p>
    <div *ngIf="idUser !== trip._creator">
      <button class="btn-send-message"> Contact the Captain</button>
      <button [routerLink]="['/trips']"> See all the trips</button>
    </div>
    <div *ngIf="idUser === trip._creator">
        <button [routerLink]="['/trips']"> See all the trips</button>
        <button [routerLink]="['/my-trips']"> See all my trips</button>
    </div>
</div>

