
<header id="site-header">
  <div class="logo-div"><a [routerLink]="['/trips']"><img src="https://image.flaticon.com/icons/svg/744/744889.svg"></a></div>
  <div class="header-container">

    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      <div *ngIf="!loading && !!user">
        <a class="user-name"[routerLink]="['/profile']">{{user.username}}</a>
        <a (click)="logout()">logout</a>
      </div>
      <div *ngIf="!loading && anon">
        <a [routerLink]="['/login']">login</a>
        <a [routerLink]="['/signup']">signup</a>
      </div>
    </div>
  </div>
</header>

<div id="site-main">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container container-footer">
    <div class="container-footer-first-div">
      <h3>@Project by Oscar Jorge</h3>
    </div>
    <div class="container-footer-second-div">
      <h3>SAIL</h3>
      <p>How does it work?</p>
      <p>About us</p>
      <p>Frequent questions</p>
    </div>
    <div class="container-footer-third-div">
      <h3>FOLLOW US</h3>
      <div class="icons-container">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <p>Questions</p>
      <p>Reach us on whatsapp: +34 653 68 79 60</p>
      <p>Send us an email: hola@sail.com</p>
    </div>
  </div>
</footer>

