<p>
  create-new-trip-form works!
</p>

<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && tripTitleField.errors}">
      <label for="">Trip tittle : </label>
      <input type="text" name="tripTitle" [(ngModel)]="tripTitle" #tripTitleField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && tripTitleField.errors">
          <p *ngIf="tripTitleField.errors.minlength" class="validation">Title is too short</p>
          <p *ngIf="tripTitleField.errors.required" class="validation">Title is required</p>
      </div>
  </div>
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
      <label for="">Description : </label>
      <input type="text" name="description" [(ngModel)]="description" #descriptionField="ngModel" required minlength="10" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && descriptionField.errors">
          <p *ngIf="descriptionField.errors.minlength" class="validation">Description is too short</p>
          <p *ngIf="descriptionField.errors.required" class="validation">Description is required</p>
      </div>
  </div>
  <div class="field submit">
      <button type="submit" [disabled]="processing">Create</button>
  </div>
</form>