<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

  <div class="field" [ngClass]="{'has-error': feedbackEnabled && tripTitleField.errors}">
      <label for="">Trip tittle : </label>
      <input type="text" name="tripTitle" [(ngModel)]="trip.tripTitle" #tripTitleField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && tripTitleField.errors">
          <p *ngIf="tripTitleField.errors.minlength" class="validation">Title is too short</p>
          <p *ngIf="tripTitleField.errors.required" class="validation">Title is required</p>
      </div>
  </div>
  <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
      <label for="">Description : </label>
      <textarea type="text" name="description" [(ngModel)]="trip.description" #descriptionField="ngModel" required minlength="10" [disabled]="processing"></textarea>
      <div *ngIf="feedbackEnabled && descriptionField.errors">
          <p *ngIf="descriptionField.errors.minlength" class="validation">Description is too short</p>
          <p *ngIf="descriptionField.errors.required" class="validation">Description is required</p>
      </div>
  </div>
  <div class="field">
    <label for="">Image : </label>
    <input type="text" name="image" [(ngModel)]="trip.image" #imageField="ngModel"  [disabled]="processing"/>
  </div>
  <div *ngIf="!this.trip._id" class="field submit">
      <button type="submit" [disabled]="processing">Create Trip</button>
      <button (click)="handleHideForm()">Cancel</button>
  </div>
  <div *ngIf="this.trip._id" class="field submit">
      <button type="submit" [disabled]="processing">Edit Trip</button>
      <button [routerLink]="['/my-trips']">Cancel</button>
  </div>
</form>
