/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 0;
}


/* ---- typography and links ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
 }
 
 a:link, a:visited {
  color: rgb(71, 71, 71);
 }

/* ---- layout ---- */

#site-header {
  display: flex;
  justify-content: space-between;
  color: white;
  background: lightslategray;
}

.header-container{
  padding: 30px 0;
  margin: 0px 20px 6px 0px;
}

.logo-div{
  width: 66px;
  height: auto;
  margin: 10px 0px 6px 20px;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: lightslategray;
}

#site-main {
  margin-bottom: 60px;
}

.login-form{
  margin: 0 auto;
}

.sign-login-profil{
  margin-top: 80px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.container-footer{
  display: flex;
  justify-content: space-between;

}

.container-footer-first-div{
  margin-left: 50px;
}

.container-footer-second-div h3 {
  text-align: center;

}
.container-footer-second-div p {
  text-align: center;

}

.container-footer-third-div{
  margin-right: 50px;
}


.container-carousel1{
  max-width: 100%;
  height: 80vh;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1458430085161-25ad9d8960b9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d9b465d7065d4e066fe913e86768bdc&auto=format&fit=crop&w=1050&q=80')
}

.container-carousel2{
  max-width: 100%;
  height: 80vh;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1508436547239-a2149a3d9a46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=983e5375c7e40107c131cdffae8b8a4a&auto=format&fit=crop&w=1050&q=80')
}
.container-carousel3{
  max-width: 100%;
  height: 80vh;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1477287736948-23493246c53b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e76fce1420fb2cca51ed53521788f69c&auto=format&fit=crop&w=1489&q=80" alt="Third slide')
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  flex: 1 0 30%;
  /* margin: 1%; */
  margin: 0.4rem;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all .1s ease-in;
}

 .card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
 }

 @media (min-device-width: 0px) and (max-device-width: 550px) {
  .card {
    flex: 1 0 100%;
  }
 }

 @media (min-device-width: 551px) and (max-device-width: 768px) {
  .card {
    flex: 1 0 45%;
  }
 }

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

/* @media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
} */




/* ---- components ---- */

/* -- forms -- */

form {
  text-align: center;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}



form input, 
textarea {
  padding: 5px;
  font-size: 16px;
  border: 1px dotted darkgrey;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: cyan;
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input,
textarea .field.has-error input{
	border: 1px solid  red;
}

.validation-done{
  padding-top: 10px;
  color: green;
}

.trip-image {
  width: 100%;
}

button {
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 }

 .btn-send-message{
   color: white;
   background-color: blue;
 }

 .btn-delete{
  color: white;
  background-color: red;
}

.btn-create-trip{
  background-color: green;
  color: white;
}

.user-name {
  color: white !important;
}