/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 0;
}


/* ---- typography and links ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
 }
 
 a:link, a:visited {
  color: rgb(71, 71, 71);
 }

/* ---- layout ---- */

#site-header {
  display: flex;
  justify-content: space-between;
  color: white;
  background: lightslategray;
}

.header-container{
  padding: 30px 0;
  margin: 0px 20px 6px 0px;
}

.logo-div{
  width: 66px;
  height: auto;
  margin: 10px 0px 6px 20px;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: lightslategray;
}

#site-main {
  margin-bottom: 60px;
}

.login-form{
  margin: 0 auto;
}

.sign-login{
  margin-top: 80px;
}

.container {
  max-width: 98%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  flex: 1 0 30%;
  /* margin: 1%; */
  margin: 0.3rem;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all .1s ease-in;
}

 .card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
 }

 @media (min-device-width: 0px) and (max-device-width: 550px) {
  .card {
    flex: 1 0 100%;
  }
 }

 @media (min-device-width: 551px) and (max-device-width: 768px) {
  .card {
    flex: 1 0 45%;
  }
 }

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

/* @media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
} */




/* ---- components ---- */

/* -- forms -- */

form {
  text-align: center;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}



form input, 
textarea {
  padding: 5px;
  font-size: 16px;
  border: 1px dotted darkgrey;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: cyan;
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input,
textarea .field.has-error input{
	border: 1px solid  red;
}

.validation-done{
  padding-top: 10px;
  color: green;
}

.trip-image {
  width: 100%;
}

button {
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 }

 .btn-send-message{
   color: white;
   background-color: blue;
 }

 .btn-delete{
  color: white;
  background-color: red;
}

.btn-create-trip{
  background-color: green;
  color: white;
}