/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  display: flex;
  color: white;
  background: #111;
}

.header-container{
  padding: 30px 0;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}



form input, 
textarea {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: cyan;
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input,
textarea .field.has-error input{
	border: 1px solid  red;
}

.trips{
  height: 500px;
  background: red;

}

.mytrips{
  height: 500px;
  background: orange;

}

.profile{
  height: 500px;
  background-color: blue;

}

.logo-div{
  width: 83px;
  height: 83px;
}

.validation-done{
  padding-top: 10px;
  color: green;
}
